{% extends 'base.html'%}
{% block title %}
Студент {{student.name}}
{% endblock %}
{% block head%}
    {{super()}}
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="static/css/global.css" />
    <link rel="stylesheet" href="static/css/frame-118.css" />
{% endblock %}
{% block content%}
    <div class="vector-root">
      <img class="frame-child5" alt="" src="static/images/rectangle-59.svg" />

      <div class="education">
        <b class="b16">Мои учебные достижения</b>
        <div class="div59">Я учусь лучше всех в университете</div>
        <div class="education-detils">
          <div class="education-detils-child"></div>
          <div class="education-detils-item"></div>
          <div class="web-developer-courses">
            <div class="div60">Курсы веб разработчика</div>
            <div class="jan-1016-dec-2021">
              <div class="jan-1016-dec-2021-child"></div>
              <div class="jan-1016-">Jan 1016 - Dec 2021</div>
            </div>
            <div class="certificate-of-web">Certificate of web training</div>
            <div class="html-css-javascript">
              Курсы веб-разработчика предлагают обучение основам создания
              веб-сайтов и веб-приложений. Они включают изучение языков
              программирования (HTML, CSS, JavaScript), основ работы с базами
              данных, а также знакомство с фреймворками и инструментами
              разработки. Курсы обычно охватывают темы дизайна интерфейсов,
              оптимизации производительности и адаптивной верстки для создания
              современных и отзывчивых веб-проектов.
            </div>
          </div>
          <div class="university-of-toronto">
            <div class="div60">Курсовая работа за 1 курс</div>
            <div class="jan-1016-dec-20211">
              <div class="jan-1016-dec-2021-child"></div>
              <div class="jan-1016-">Jan 1016 - Dec 2021</div>
            </div>
            <div class="certificate-of-web">kursach.docx</div>
            <div class="div62">
              Курсовая работа посвящена разработке программного обеспечения для
              автоматизации инженерных расчетов и проектирования. Она включает в
              себя анализ требований заказчика, выбор подходящих технологий
              разработки, реализацию программы и тестирование ее
              функциональности. В заключении проводится оценка результатов
              работы и формулирование рекомендаций для дальнейшего улучшения
              программного продукта.
            </div>
          </div>
          <div class="education-detils-inner"></div>
          <div class="programming-course">
            <div class="div63">
              <p class="p5">Статья на тему “Разработка</p>
              <p class="p5">собственного языка программирования”</p>
            </div>
            <div class="jan-1016-dec-20212">
              <div class="jan-1016-dec-2021-child"></div>
              <div class="jan-1016-">Jan 1016 - Dec 2021</div>
            </div>
            <div class="certificate-of-web">Statya.pdf</div>
            <div class="div64">
              Статья посвящена процессу разработки собственного языка
              программирования. Она включает в себя анализ потребностей и целей
              создания нового языка, выбор основных концепций и синтаксических
              правил, а также реализацию интерпретатора или компилятора. Кроме
              того, статья обсуждает возможности применения нового языка, его
              перспективы и потенциальные проблемы.
            </div>
          </div>
        </div>
      </div>
      <div class="parent" data-scroll-to="groupContainer">
        <b class="b17">Мои программные достижения</b>
        <div class="div65">
          Я верстаю на всех возможных и выдуманных мной языках
        </div>
        <div class="web-development">
          <div class="web-development-child"></div>
          <img class="iconscoding" alt="" src="static/images/iconscoding.svg" />

          <div class="web-development1">web development</div>
          <div class="blog-e-commerce">blog, e-commerce</div>
        </div>
        <div class="uiux-design">
          <div class="web-development-child"></div>
          <img
            class="iconscoding"
            alt=""
            src="static/images/iconsillustration.svg"
          />

          <div class="uiux-design1">uI/uX design</div>
          <div class="mobile-app-website">Mobile app, website design</div>
        </div>
        <div class="sound-design">
          <div class="web-development-child"></div>
          <img
            class="iconsmicrophone"
            alt=""
            src="static/images/iconsmicrophone.svg"
          />

          <div class="sound-design1">sound design</div>
          <div class="voice-over-beat">Voice Over, Beat Making</div>
        </div>
        <div class="game-design">
          <div class="web-development-child"></div>
          <img
            class="iconsgame-development"
            alt=""
            src="static/images/iconsgamedevelopment.svg"
          />

          <div class="game-design1">game design</div>
          <div class="character-design-props">
            Character Design, Props & Objects
          </div>
        </div>
        <div class="photography">
          <div class="web-development-child"></div>
          <img
            class="iconsphotographer"
            alt=""
            src="static/images/iconsphotographer.svg"
          />

          <div class="photography1">photography</div>
          <div class="portrait-product-photography">
            portrait, product photography
          </div>
        </div>
        <div class="advertising">
          <div class="web-development-child"></div>
          <div class="advertising1">advertising</div>
          <div class="lorem-ipsum-dolor">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla
            diam in ac dictum a urna viverra morbi.
          </div>
          <div class="order-now">
            <b class="order-now1">ORDER NOW</b>
            <img class="frame-icon" alt="" src="static/images/frame.svg" />
          </div>
        </div>
      </div>


      <div class="main-menu">
        <div class="background-image"></div>
        <b class="b20">{{student.name}}</b>
        <div class="main-menu-child"></div>
        <div class="main-menu-item"></div>
        <div class="main-menu-inner"></div>
        <div class="main-menu-child1"></div>
        <div class="main-menu-child2"></div>
        <div class="main-menu-child3"></div>
        <img class="main-menu-child4" alt="" src="static/images/polygon-1.svg" />

        <div class="div71">
          Изучаю все языки программирования, и хочу работать на инопланетянинов
        </div>
        <img class="your-image-1" alt="" src="{{ url_for('static', filename='images/' + student.img) }}" />

        <div class="buttonhire-me">
          <div class="buttonhire-me1" id="buttonHireMeContainer">
            <div class="buttonhire-me2">
              <div class="hire-me-parent">
                <div class="hire-me">HIRE ME</div>
                <img class="frame-icon1" alt="" src="static/images/frame1.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{%endblock%}
